* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* navbar */

.navbar {
    width: 100%;
    padding: 20px 180px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 50px 20px rgb(0, 0, 0, 1);
}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    gap: 35px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

.contact-btn{
    padding:10px 20px;
    background: #1d1f2c;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.contact-btn:hover {
    background-color: #525252;
}


/* banner section */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('/assect/image/banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contant {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    gap: 20px;
}

.banner-titel {
    font-size: 85px;
    font-weight: 600;
}

.banner-p {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 50px;
}

.explore-btn {

    padding: 10px 25px;
    background: rgb(82, 82, 82);
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.explore-btn:hover {
    background: gray;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.icon-img{
    width: 15px;
}




/* latest section  */
.latest-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;

}

.latest-head P, div {
    color: #525252;
}

.sound-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.effects-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(234,239,242);
    border-radius: 12px;
    gap: 5px;
   
}

.se-btn {
    padding: 0  5px;
    border-right: 2px solid white;

}



/* responsive */


@media (max-width: 600px) {
    /* navbar */
    .navbar{
        flex-direction: column;
    }
    
    .logo img {
        height: 35px;
    }

    .menu{
        gap: 50px;
    }
}