* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* navbar */

.navbar {
    width: 100%;
    padding: 20px 180px;
    background-color: rgb(234,239,242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    z-index: 50;
}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    gap: 35px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

.contact-btn{
    padding:10px 20px;
    background: #1d1f2c;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.contact-btn:hover {
    background-color: #525252;
}


/* banner section */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('/assect/image/banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contant {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    gap: 20px;
}

.banner-titel {
    font-size: 85px;
    font-weight: 600;
}

.banner-p {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 50px;
}

.explore-btn {

    padding: 10px 25px;
    background: rgb(82, 82, 82);
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.explore-btn:hover {
    background: gray;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.icon-img{
    width: 15px;
}




/* latest section  */


.latest-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px -25px 0px rgba(0, 0, 0, 9);
}

.latest-head P, div {
    color: #525252;
}

.sound-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.effects-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(234,239,242);
    border-radius: 12px;
    gap: 5px;
   
}

.se-btn {
    padding: 0  5px;
    border-right: 2px solid white;

}

/* card */

.card-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sound {
    width: 360px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    background: rgb(248,250,251);
    box-sizing: border-box;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card-header img.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.card-p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}

.player-controls {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 5px;
}

.player-controls .player-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('/assect/image/play-btn.png');
    background-size: contain;
    cursor: pointer;
    margin-left: 20px;
}

.player-controls .audio-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.audio-container .duration {
    font-size: 14px;
    color: dimgray;
    margin-right: 10px;
}

.player-controls img.volume{
    width: 20px;
    height: 20px;
}

.action-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid darkgray;
    background: rgb(234,239,242);
    padding: 10px 0px;
    border-radius: 16px;
}

.action-btn img {
    width: 20px;
    height: 20px;
   
}
.d-btn{
    border: none;
}

.ac-btn {
    border-right: 2px solid white;
    padding-right: 55px;
}


#cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 70px;
    margin-bottom: 120px;
}

/* Popular section */

.p-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.popular-bg{
    background: rgb(248,242,234);
    border-radius: 35px;
    padding: 30px 50px;
    
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 70%;
    margin: 40px auto;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.img1 {
    grid-column: span 2;
}

/* popular section 2 */
.card-b {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}


.collection-card {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0;
}

.card-image-container{
    width: 100%;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-container {
    padding: 20px 30px;
}

.titel-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-titer {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.icon-badge{
    background-color: rgb(229, 229, 229);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-f{
    padding: 0 15px 15px 15px;
}
.read-more-btn{
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.read-more-btn:hover {
    background-color: rgb(220, 220, 220);
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}


/* Catalogue section */

.feature-section {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.feature-row {
    display: flex;
    gap: 0;
    max-width: 1200px;
}

.feature-card {
    width: 380px;
    padding: 40px;
    box-sizing: border-box;
}

.feature-card h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

.feature-card p {
    font-size: 15px;
    line-height: 1.5;

}


/* 1st card */
.dark-card{
    background: black;
    color: white;
    border: 3px solid rgb(231, 231, 231);
}

/* 2nd card */
.light-card {
    background: rgb(249, 252, 255);
    border-left: 1px solid rgb(231, 231, 231);
}
.right-rounded{
    border: 0 20px 20px 0;
}


.icon-box img{
    width: 35px;
    margin-bottom: 20px;
}






/* responsive */


@media (max-width: 600px) {
    /* navbar */
    .navbar{
        flex-direction: column;
    }
    
    .logo img {
        height: 35px;
    }

    .menu{
        gap: 50px;
    }

    /* latest section  */

    .latest-head {
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    .latest-head h1 {
        font-size: 22px;
    }

    .latest-head p {
        font-size: 14px;
    }

    .sound-btn  {
        flex-direction: column;
        gap: 10;
    }

    #cardContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 15px;
    }

    .card-sound{
        width: 100%;
    }
    .card-p {
        font-size: 18px;
    }

    .player-controls img.volume {
        width: 18px;
        height: 18px;
    }
    
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .img1 {
        grid-column: span 1; 
    }

    /* popular section */

    .p-header{
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    /* popular section 2 */
    .cards-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card-container{
        padding: 15px 20px;
    }

    .read-more-btn {
        padding: 10px 16px;
        font-size: 13px;
    }

    .collection-card{
        width: 100%;
        max-width: 350px;
    }




}