* {
  font-family: "Saira Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* navbar */

.navbar {
    width: 100%;
    padding: 20px 180px;
    background-color: rgb(234,239,242);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    position: fixed;
    z-index: 50;
}

.logo img {
    height: 45px;
}

.menu {
    display: flex;
    gap: 35px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-weight: 500;
}

.contact-btn{
    padding:10px 20px;
    background: #1d1f2c;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.contact-btn:hover {
    background-color: #525252;
}


/* banner section */

.banner{
    width: 100%;
    height: 100vh;
    background-image: url('/assect/image/banner.png');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-contant {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    padding: 20px;
    gap: 20px;
}

.banner-titel {
    font-size: 85px;
    font-weight: 600;
}

.banner-p {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 50px;
}

.explore-btn {

    padding: 10px 25px;
    background: rgb(82, 82, 82);
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

.explore-btn:hover {
    background: gray;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.icon-img{
    width: 15px;
}




/* latest section  */


.latest-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 0px -25px 0px rgba(0, 0, 0, 9);
}

.latest-head P, div {
    color: #525252;
}

.sound-btn {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.effects-btn {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(234,239,242);
    border-radius: 12px;
    gap: 5px;
   
}

.se-btn {
    padding: 0  5px;
    border-right: 2px solid white;

}

/* card */

.card-b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sound {
    width: 360px;
    background: white;
    border-radius: 12px;
    padding: 15px;
    background: rgb(248,250,251);
    box-sizing: border-box;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.card-header img.logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.card-p {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;
}

.player-controls {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 5px;
}

.player-controls .player-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url('/assect/image/play-btn.png');
    background-size: contain;
    cursor: pointer;
    margin-left: 20px;
}

.player-controls .audio-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.audio-container .duration {
    font-size: 14px;
    color: dimgray;
    margin-right: 10px;
}

.player-controls img.volume{
    width: 20px;
    height: 20px;
}

.action-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid darkgray;
    background: rgb(234,239,242);
    padding: 10px 0px;
    border-radius: 16px;
}

.action-btn img {
    width: 20px;
    height: 20px;
   
}
.d-btn{
    border: none;
}

.ac-btn {
    border-right: 2px solid white;
    padding-right: 55px;
}


#cardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px 70px;
    margin-bottom: 120px;
}

/* Popular section */

.p-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 180px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.popular-bg{
    background: rgb(248,242,234);
    border-radius: 35px;
    padding: 30px 50px;
    
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 70%;
    margin: 40px auto;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.img1 {
    grid-column: span 2;
}

/* popular section 2 */
.card-b {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10px;
}


.collection-card {
    width: 300px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0;
}

.card-image-container{
    width: 100%;
}

.card-img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-container {
    padding: 20px 30px;
}

.titel-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-titer {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.icon-badge{
    background-color: rgb(229, 229, 229);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-f{
    padding: 0 15px 15px 15px;
}
.read-more-btn{
    width: 100%;
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
.read-more-btn:hover {
    background-color: rgb(220, 220, 220);
}

.cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 30px;
}


/* Catalogue section */

.feature-section {
    padding: 60px 0;
    display: flex;
    justify-content: center;
}

.feature-row {
    display: flex;
    gap: 0;
    max-width: 1200px;
}

.feature-card {
    width: 380px;
    padding: 40px;
    box-sizing: border-box;
}

.feature-card h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

.feature-card p {
    font-size: 15px;
    line-height: 1.5;

}


/* 1st card */
.dark-card{
    background: black;
    color: white;
    border: 3px solid rgb(231, 231, 231);
}

/* 2nd card */
.light-card {
    background: rgb(249, 252, 255);
    border-left: 1px solid rgb(231, 231, 231);
}
.right-rounded{
    border: 0 20px 20px 0;
}


.icon-box img{
    width: 35px;
    margin-bottom: 20px;
}


/* Choose Section */



.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px 180px 50px 180px;


}
    
.div {
    background: rgb(245, 247, 250);
    padding: 30px;
    border-radius: 14px;
    
}

.div1 {
    grid-column: span 2;
    background: rgb(247, 241, 234);
    padding: 30px;
    border-radius: 14px;
}

.div6 {
    grid-column: span 2;
    background: black;
    color: white;
    padding: 30px;
    border-radius: 14px;
}

.icon {
    width: 26px;
    height: 26px;
    margin-bottom: 16px;
}


/* Connected Section */

.hero{
    width: 80%;
    margin: 80px auto;
    height: 400px;
    background-image: url("/assect/image/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.hero-content{
    text-align: center;
    color: white;
    max-width: 600px;
    padding: 20px;
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero p{
    font-size: 15px;
    line-height: 1.5;
    opacity: 0.9;
    margin-bottom: 28px;
}

.hero-btn{
    display: inline-block;
    padding: 10px 22px;
    background: white;
    color: black;
    border-radius: 6px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


/* Footer */

.footer-warapper{
    width: 100%;
    background: black;
    background-image: url("/assect/image/footer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

footer.footer {
    width: 90%;
    overflow: hidden;
    margin: 60px auto;
      
}

.footer-overlay {
    padding: 50px 60px;
}
.footer-grid{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1.3fr;
    grid-template-rows: auto;
    gap: 40px;
    color: white;
}

.col1 .f-logo{
    width: 180px;
    margin-bottom: 20px;
}

.footer-grid h3 {
    font-size: 16px;
    font-weight: 600;
}

.footer-grid ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-grid li {
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.85;
}

.email{
    color: white;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 600;
}

.address,
.phone {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.85;
}

.social {
    display: flex;
    gap: 10px;
    margin-top: 14px;
}






/* responsive */


/* Tablet */
@media (max-width: 992px) {
    /* Banner */
    .banner-titel{
        font-size: 55px;
    }
    .banner-p{
        font-size: 20px;
    }
    .latest-head{
        padding: 20px 40px;
    }
    #cardContainer{
        grid-template-columns: repeat(2, 1fr);
        padding: 20px 40px;
    }

    .card-sound{
        width: 100%;
    }


    /* Popular Section */
    .p-header{
        padding: 20px 40px;
    }

    .image-grid{
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
    }
    .img1{
        grid-column: span 2;
    }

    /* popular Section 2 */
    .cards-wrapper{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    /* catalogue section */
    .feature-row{
        gap: 0;
        padding: 0 40px;
    }

    .feature-card{
        width: 100%;
        padding: 30px 20px;
    }

    /* choose section */
    .parent{
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px 40px 40px;
        gap: 20px;
    }

    .div,
    .div1,
    .div6{
        padding: 25px;
    }

    /* Hero section */
    .hero{
        width: 90%;
        height: 350px;
    }
    .hero h1 {
        font-size: 32px;
    }
    .hero p {
        font-size: 14px;
    }

    /* Footer */
    .footer-grid{
        grid-template-columns: 1.5fr 1fr 1fr;
    }

    .footer-overlay{
        padding: 40px;
    }


}




/* mobile */
@media (max-width: 600px) {
    /* navbar */
    .navbar{
        flex-direction: column;
    }
    
    .logo img {
        height: 35px;
    }

    .menu{
        gap: 50px;
    }

    /* latest section  */

    .latest-head {
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    .latest-head h1 {
        font-size: 22px;
    }

    .latest-head p {
        font-size: 14px;
    }

    .sound-btn  {
        flex-direction: column;
        gap: 10;
    }

    #cardContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px 15px;
    }

    .card-sound{
        width: 100%;
    }
    .card-p {
        font-size: 18px;
    }

    .player-controls img.volume {
        width: 18px;
        height: 18px;
    }
    
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    .img1 {
        grid-column: span 1; 
    }

    /* popular section */

    .p-header{
        flex-direction: column;
        padding: 0px;
        text-align: center;
    }

    /* popular section 2 */
    .cards-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .card-container{
        padding: 15px 20px;
    }

    .read-more-btn {
        padding: 10px 16px;
        font-size: 13px;
    }

    .collection-card{
        width: 100%;
        max-width: 350px;
    }

    /*  Catalogue Section */
    .feature-section {
        padding: 40px 0;
    }

    .feature-row{
        flex-direction: column;
        max-width: 100%;
        padding: 0 20px;
    }
    .feature-card{
        width: 100%;
        padding: 25px 20px;
        text-align: left;
    }

    .feature-card h2 {
        font-size: 18px;
    }

    .feature-card p {
        font-size: 14px;
    }


    /* Choose Section */
    .parent {
        grid-template-columns: 1fr;
        padding: 0px;
        gap: 16px;
        margin: 0px;
    }

    .div,
    .div1,
    .div6{
        grid-column: span 1 !important;
        padding: 20px;
        text-align: center;
        border-radius: 12px;
    }

    .choose-icon{
        /* width: 40px; */
        margin-bottom: 14px;
        padding: 0px;
    }

    .div h1,
    .div1 h1,
    .div6 h1{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .div p,
    .div1 p,
    .div6 p{
        font-size: 14px;
        line-height: 1.45;
    }

    /* Connected / Hero Section */
    .hero {
        width: 90%;
        height: 300px;
        margin: 40px auto;
        border-radius: 14px;
    }

    .hero-content {
        max-width: 100%;
        padding: 10px 15px;
    }

    .hero h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .hero p {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .hero-btn{
        font-size: 13px;
        padding: 8px 18px;
    }

    /* Footer */
    .footer-overlay{
        padding: 30px 20px;
    }

    .footer.footer{
        width: 95%;
        margin: 40px auto;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .col1 .f-logo {
        width: 150px;
    }

    .footer-grid h3 {
        font-size: 15px;
    }

    .footer-grid li {
        font-size: 13px;
        margin-bottom: 6px;
    }

    .email {
        font-size: 18px;
    }
    .address,
    .phone{
        font-size: 13px;
    }

    .social {
        gap: 12px;
    }

}